<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <!--===============================================================================================-->
    	<link rel="icon" type="image/png" href="../favicon.ico"/>
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../assets/css/style.css">
    <!--===============================================================================================-->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <background></background>
      <div v-if="dadesUsuariBD.grup == 'informatic' || dadesUsuariBD.grup == 'comercial'">
      <sidebar :dadesusuaribd='dadesUsuariBD'></sidebar>
      <div class='contingut'>
        <capsalera :dadesusuaribd='dadesUsuariBD' :dadessoftware='dadesSOFTWARE'></capsalera>
        <div class="rss_content">
            <div class='rss_feed row' v-for="entrada of dadesRSS.entries">
              <div class="col-md-9 rss_titol">
                  {{entrada.title}}
              </div>
              <div class="col-md-3 rss_data">
                  {{entrada.publishedDate}}
              </div>
              <div class="col-md-12 rss_cos" v-html="entrada.content">
                  {{entrada.content}}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>






    <!--Scripts necessaris pel VUE JS -->

    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.1/vue-resource.min.js"></script>
    <script src="../assets/js/components/background.js"></script>
    <script src="../assets/js/components/sidebar.js"></script>
    <script src="../assets/js/components/capsalera.js"></script>
    <script src="../assets/js/codi_rss.js"></script>


  </body>


</html>
